<h2>Log Time</h2>

<div class="mt-2">
    <div class="form-group">
        <label>date</label>
        <input [(ngModel)]='fields.date' type="date" class="form-control">
    </div>

    <div class="form-group">
        <label>Time Logged</label>
        <input [(ngModel)]='fields.timeLogged' type="number" class="form-control">
    </div>
    <div class="form-group">
        <label>Select Project</label>
        <select class="form-control" [(ngModel)]='fields.projectId'>
            <option *ngFor='let project of projectList' [value]='project._id'>{{project.projectName}} 
            </option>
        </select>
    
    </div>

    <div class="form-group">
        <label>Select Employee</label>
        <select class="form-control" [(ngModel)]='fields.employeeIde'>
            <option *ngFor='let employee of employeeList' [value]='employee._id'>{{employee.name}} ( {{employee.email}} )
            </option>
        </select>
    
    </div>


    <button (click)='Submit()' type="submit" class="btn btn-primary">Submit</button>
    <a routerLink='/employees' class="btn ml-2 btn-secondary">cancel</a>
</div>